<div class="container-fluid" id="container_fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="alert alert-dark text-center font-weight-bold">
        Admin & User Information Panel.
      </h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Admin Component -->
    <div class="col-md-6">
      <h1 class="alert alert-primary text-center">Admin Information Panel.</h1>
      <div class="card">
        <div class="card-title alert alert-info">
          <div class="float-left">
            <h2 class="">Admin</h2>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let admin of admins,index as i">
                <!-- <th scope="row">1</th> -->
                <td>{{admin}}</td>
                <td>
                  <button class="btn btn-outline-danger float-right btn-sm" (click)="handleDeleteAdmin(i)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ******************************************** -->
    <!-- User Component -->
    <div class="col-md-6">
      <h1 class="alert alert-danger text-center">User Information Panel.</h1>
      <div class="card">
        <div class="card-title alert alert-dark">
          <div class="float-left">
            <h2 class="">User</h2>
          </div>
          <div class="float-right">
            <h2>Action</h2>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let user of users, index as i">
                <!-- <th scope="row">1</th> -->
                <td>{{user}}</td>
                <td>
                  <button class="btn btn-outline-danger float-right btn-sm" (click)="handleDeleteUser(i)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- ********************************** -->
  <div class="row">
    <div class="col-md-6">
      <!-- Admin Form  -->
      <app-adminorm
        [btnColor]="'info'"
        [placeHolderText]="'Enter Admin Name'"
        (inputEvent)="pushAdmins($event)"

      ></app-adminorm>
    </div>
    <div class="col-md-6">
      <!-- UserForm -->
      <app-adminorm
        [btnColor]="'dark'"
        [placeHolderText]="'Enter User Name'"
        (inputEvent)="pushUsers($event)"
      ></app-adminorm>
    </div>
  </div>
</div>
